// usefull vars
$i0: 0

// Colors
$init-percent-darken: 8%
$init-percent-lighten: 8%
$yellow: #FBB734
$orange: #F37700
$purple: #C04DD8
$dark-blue: #2567C2
$brown: #322723
$grey: #393E44
$red: #AE0001
$pink: #DD2F74
$green: #94C75A
$blue: #4F93E2
$white: #FFFFFF
$ruby: #be3740
$sky: #16a1c4
$apple: #9ac40e
$gold: #c4a00c
$tank: #1e5163
$soul: #e1eef3
$metal: #93a4aa
$shadow: #5e696d
$petroleum: #364347
$colors: 'yellow' $yellow, 'orange' $orange, 'purple' $purple, 'dark-blue' $dark-blue, 'brown' $brown, 'grey' $grey, 'red' $red, 'pink' $pink, 'green' $green, 'white' $white, 'blue' $blue, 'ruby' $ruby, 'sky' $sky, 'apple' $apple, 'gold' $gold, 'tank' $tank, 'soul' $soul, 'metal' $metal, 'shadow' $shadow, 'petroleum' $petroleum
$color-default: #d6e1e5
$color-light: #b2c6cd
$color-inverse: #00364a
$color-primary: #fe4956
$color-secondary: #1ccefb
$color-info: #b3e510
$color-warning: #f1c40f
$color-error: #fe4956
$base-colors: default $color-default, 'light' $color-light, 'inverse' $color-inverse, 'primary' $color-primary, 'secondary' $color-secondary, 'info' $color-info, 'warning' $color-warning, 'error' $color-error

// Sizes
$base-sizes: xs, sm, md, lg, xl
$base-measurements: 'px' px, 'em' em, 'percent' '%', 'rem' rem
$width-960: 960px
$width-100-percent: 100%