// usefull vars
$i0: 0

// Colors
$init-percent-darken: 8%
$init-percent-lighten: 8%
$yellow: #F87C56
$orange: #F87C56
$purple: #504CC0
$dark-blue: #2567C2
$brown: #322723
$grey: #9F9F9F
$red: #AE0001
$pink: #FE555B
$green: #16C400
$blue: #4F93E2
$white: #FFFFFF
$ruby: #FF5E5E
$sky: #16a1c4
$apple: #16C400
$gold: #FFC867
$tank: #1e5163
$soul: #EEEEEE
$metal: #93a4aa
$cloud: #E5E5E5
$lilac: #EDEDF8
$colors: 'yellow' $yellow, 'orange' $orange, 'purple' $purple, 'dark-blue' $dark-blue, 'brown' $brown, 'grey' $grey, 'red' $red, 'pink' $pink, 'green' $green, 'white' $white, 'blue' $blue, 'ruby' $ruby, 'sky' $sky, 'apple' $apple, 'gold' $gold, 'tank' $tank, 'soul' $soul, 'metal' $metal, 'cloud' $cloud, 'lilac' $lilac
$color-default: #353535
$color-light: #F8F8F9
$color-inverse: #222222
$color-primary: #504CC0
$color-secondary: #F87C56
$color-info: #35D9CE
$color-warning: #FFAE54
$color-error: #E44B47
$color-success: #16C400
$base-colors: default $color-default, 'light' $color-light, 'inverse' $color-inverse, 'primary' $color-primary, 'secondary' $color-secondary, 'info' $color-info, 'warning' $color-warning, 'error' $color-error, 'success' $color-success

// Sizes
$base-sizes: xs, sm, md, lg, xl
$base-measurements: 'px' px, 'em' em, 'percent' '%', 'rem' rem
$width-960: 960px
$width-100-percent: 100%